### Import libraries

In [1]:
import pandas as pd

### Data exploration

In [2]:
df = pd.read_csv('df.csv')
df.head(3)

,A,B,C,D,E,F,G
0,1614227020-5916,https://www.amazon.com/s?k=Portable+Bluetooth+...,ELEGIANT Home Audio Speakers LED bluetooth spe...,https://www.amazon.com/Bluetooth-ELEGIANT-Wire...,See all reviews,https://www.amazon.com/Bluetooth-ELEGIANT-Wire...,121 global ratings | 48 global reviews
1,1614224585-5454,https://www.amazon.com/s?k=Portable+Bluetooth+...,iLive iHB603B Wireless Bluetooth Speaker Syste...,https://www.amazon.com/iLive-iHB603B-Wireless-...,See all reviews,https://www.amazon.com/iLive-iHB603B-Wireless-...,853 global ratings | 748 global reviews
2,1614223590-5267,https://www.amazon.com/s?k=Portable+Bluetooth+...,Simple Living Technology Stickup Original Wate...,https://www.amazon.com/Simple-Living-Technolog...,See all reviews,https://www.amazon.com/Simple-Living-Technolog...,27 global ratings | 23 global reviews

### Drop useless columns

In [3]:
# Drop useless columns
df = df.drop(columns=['A', 'B', 'D', 'E', 'F'])
df = df[['C', 'G']]
df.head(3)

,C,G
0,ELEGIANT Home Audio Speakers LED bluetooth spe...,121 global ratings | 48 global reviews
1,iLive iHB603B Wireless Bluetooth Speaker Syste...,853 global ratings | 748 global reviews
2,Simple Living Technology Stickup Original Wate...,27 global ratings | 23 global reviews

### Drop missing/duplicate values

In [4]:
# Drop missing values
df = df.dropna()

# Drop duplicate values
df = df.drop_duplicates(subset=['C'])

df.shape

(2345, 2)

### Split one column into multiple columns

In [5]:
# Split column G into two sperate columns
df['number_of_ratings'] = df['G'].str.rsplit(' | ').str[0]
df['number_of_reviews'] = df['G'].str.rsplit(' | ').str[-1]

# Remove the words 'global ratings' and 'global reviews'
df['number_of_ratings'] = df['number_of_ratings'].str.replace(' global ratings', '')
df['number_of_reviews'] = df['number_of_reviews'].str.replace(' global reviews', '')

# Remove comma between numbers
df['number_of_ratings'] = df['number_of_ratings'].str.replace(',', '')
df['number_of_reviews'] = df['number_of_reviews'].str.replace(',', '')

# Drop original columns
df = df.drop(columns='G')

df.head(3)

,C,number_of_ratings,number_of_reviews
0,ELEGIANT Home Audio Speakers LED bluetooth spe...,121,48
1,iLive iHB603B Wireless Bluetooth Speaker Syste...,853,748
2,Simple Living Technology Stickup Original Wate...,27,23

### Rename columns

In [6]:
# Rename columns
df = df.rename(columns={'C': 'product_name'})

df.head(3)

,product_name,number_of_ratings,number_of_reviews
0,ELEGIANT Home Audio Speakers LED bluetooth spe...,121,48
1,iLive iHB603B Wireless Bluetooth Speaker Syste...,853,748
2,Simple Living Technology Stickup Original Wate...,27,23